<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Login</title>

    <link href="/static/style.css" rel="stylesheet" type="text/css">
  </head>

  <body class="full-screen">
    <div class="demo">
      <div class="login">
        <div class="login_check"></div>
        <div class="login_form">
          <form method="post">
            {% csrf_token %}
            <div class="login_row">
              <input type="text" placeholder="Username" class="login_input" name="username">
            </div>
            <div class="login_row">
              <input type="password" placeholder="Password" class="login_input" name="password">
            </div>
            <button type="submit" class="login_submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
