{% extends "base.html" %}

{% block title %}Journey{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
  <div class="container">
    <h1>Your Next Destination.</h1>
    <p>Rate your previous trips. Journey will recommend you the next place to go.</p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2>Rate</h2>
    <p>I do not know what to write here, but nobody will care what is written here. If you are reading it, thank you so much for your attention.</p>
    <p><a class="btn btn-default" href="/rate" role="button">Rate trips &raquo;</a></p>
  </div>
  <div class="col-md-6">
    <h2>Recommendation</h2>
    <p>Still lack of idea. I am writing this bullshit for nothing. I want to be a jung-hoe-won. Please show your mercy.</p>
    <p><a class="btn btn-default" href="/recommendation" role="button">See recommendations &raquo;</a></p>
 </div>
</div>
{% endblock %}
