{% extends "base.html" %}

{% block title %}Rate{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="page-header">Rate your previous trips</h2>
    <div class="search-box">
        <input type="search" placeholder="Country or City" class="form-control" />
    </div>
  </div>
</div>

<form method="post">
  {% csrf_token %}
  {% for pref in pref_list %}
  {% with pref.destination.name as dname %}
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="preference">
        <h4 class="col-sm-7">
          {{dname}}, {{pref.destination.country.name}}
        </h4>
        <fieldset class="rating col-sm-5">
          {% if pref.score == 5 %}
          <input type="radio" id="star5_{{dname}}" name="rating_{{dname}}" value="5" checked /><label class = "full" for="star5_{{dname}}" title="5 stars"></label>
          {% else %}
          <input type="radio" id="star5_{{dname}}" name="rating_{{dname}}" value="5" /><label class = "full" for="star5_{{dname}}" title="5 stars"></label>
          {% endif %}
          {% if pref.score == 4 %}
          <input type="radio" id="star4_{{dname}}" name="rating_{{dname}}" value="4" checked /><label class = "full" for="star4_{{dname}}" title="4 stars"></label>
          {% else %}
          <input type="radio" id="star4_{{dname}}" name="rating_{{dname}}" value="4" /><label class = "full" for="star4_{{dname}}" title="4 stars"></label>
          {% endif %}
          {% if pref.score == 3 %}
          <input type="radio" id="star3_{{dname}}" name="rating_{{dname}}" value="3" checked /><label class = "full" for="star3_{{dname}}" title="3 stars"></label>
          {% else %}
          <input type="radio" id="star3_{{dname}}" name="rating_{{dname}}" value="3" /><label class = "full" for="star3_{{dname}}" title="3 stars"></label>
          {% endif %}
          {% if pref.score == 2 %}
          <input type="radio" id="star2_{{dname}}" name="rating_{{dname}}" value="2" checked /><label class = "full" for="star2_{{dname}}" title="2 stars"></label>
          {% else %}
          <input type="radio" id="star2_{{dname}}" name="rating_{{dname}}" value="2" /><label class = "full" for="star2_{{dname}}" title="2 stars"></label>
          {% endif %}
          {% if pref.score == 1 %}
          <input type="radio" id="star1_{{dname}}" name="rating_{{dname}}" value="1" checked /><label class = "full" for="star1_{{dname}}" title="1 star"></label>
          {% else %}
          <input type="radio" id="star1_{{dname}}" name="rating_{{dname}}" value="1" /><label class = "full" for="star1_{{dname}}" title="1 star"></label>
          {% endif %}
        </fieldset>
        {% endwith %}
        <br />
        <br />
      </div>
    </div>
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary col-sm-2 col-sm-offset-5" id="large-margin">Save</button>
</form>
{% endblock %}
